In [1]:
from iertools.tb import *
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.dates as mdates

In [2]:
# pip install git+https://github.com/AltamarMx/iertools.git

In [3]:
fecha1 = parse("2024-10-30")   #AÃ±o, mes , dia
fecha2 = fecha1 + pd.Timedelta("22D")

tmp= TB(config_file='config_encuesta.ini',device_name='Encuestas_Shiny')
parametros = ["clo","e","met","voto"]

encuesta = pd.concat([tmp.get_df(key=parametro,start_datetime=fecha1,end_datetime=fecha2) for parametro in parametros],axis=1)

["temperature","humidity","iluminance","sound","e","voto","met","clo"]

C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')

In [4]:
encuesta

                          clo    e  met  voto
ts
2024-11-20 10:17:30.039  0.47  0.7  2.6   2.0
2024-11-20 10:16:49.015  0.58  0.7  1.1   0.6
2024-11-20 10:16:38.153  0.68  0.7  1.1   0.0
2024-11-20 10:16:33.507  0.75  0.7  1.0   0.0
2024-11-20 10:16:24.922  0.50  0.7  1.0  -1.2
...                       ...  ...  ...   ...
2024-10-30 10:04:18.802  0.68  0.7  1.0   0.0
2024-10-30 10:03:55.674  0.63  0.7  1.0   1.2
2024-10-30 10:03:42.595  0.60  0.7  1.1  -1.0
2024-10-30 10:02:58.127  0.97  0.7  1.0  -0.4
2024-10-29 18:13:38.636  0.00  0.7  1.7   3.0

[172 rows x 4 columns]

In [5]:
encuesta = encuesta.iloc[::-1]
encuesta

                          clo    e  met  voto
ts
2024-10-29 18:13:38.636  0.00  0.7  1.7   3.0
2024-10-30 10:02:58.127  0.97  0.7  1.0  -0.4
2024-10-30 10:03:42.595  0.60  0.7  1.1  -1.0
2024-10-30 10:03:55.674  0.63  0.7  1.0   1.2
2024-10-30 10:04:18.802  0.68  0.7  1.0   0.0
...                       ...  ...  ...   ...
2024-11-20 10:16:24.922  0.50  0.7  1.0  -1.2
2024-11-20 10:16:33.507  0.75  0.7  1.0   0.0
2024-11-20 10:16:38.153  0.68  0.7  1.1   0.0
2024-11-20 10:16:49.015  0.58  0.7  1.1   0.6
2024-11-20 10:17:30.039  0.47  0.7  2.6   2.0

[172 rows x 4 columns]

In [6]:
fecha1 = parse("2024-10-30")   #AÃ±o, mes , dia
fecha2 = fecha1 + pd.Timedelta("22D")

tmp= TB(config_file='config_esp.ini',device_name='est_Tlaltenango')
sensores = ["Temperatura","Humedad","Presion"]

# cafe es un nombre temporal, 
EST = pd.concat([tmp.get_df(key=sensor,start_datetime=fecha1,end_datetime=fecha2).resample('1min').mean() for sensor in sensores],axis=1)

["Temperatura","Humedad","Presion"]

C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:120: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos = pd.read_json(telemetry.text, orient=None)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:128: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[key].iloc[i] = float(valor)
C:\Users\roele\AppData\Local\Programs\Python\Python312\Lib\site-packages\iertools\tb.py:136: FutureWarning: 'H' is deprecated and will be removed in a future version. Please use 'h' instead of 'H'.
  df.index += pd.Timedelta('-6H')

In [7]:
EST

                     Temperatura    Humedad    Presion
ts
2024-10-30 09:58:00    22.288690  81.394420  677.55760
2024-10-30 09:59:00    23.032315  57.439850  880.64920
2024-10-30 10:00:00    23.101330  55.903335  880.64715
2024-10-30 10:01:00    23.149760  55.718640  880.61450
2024-10-30 10:02:00    23.244415  55.690365  880.61060
...                          ...        ...        ...
2024-11-20 10:13:00          NaN        NaN        NaN
2024-11-20 10:14:00    23.894675  67.913285  779.18830
2024-11-20 10:15:00    25.308490  53.074070  880.78250
2024-11-20 10:16:00    25.321155  52.728345  880.81050
2024-11-20 10:17:00    25.377820  56.613000  880.78720

[30260 rows x 3 columns]

In [8]:
fecha1 = parse("30/10/2024 10:01", dayfirst=True)
fecha2 = parse("30/10/2024 10:06", dayfirst=True)

# Filtra el DataFrame por rango de fechas
encuesta_filtrada = encuesta.loc[fecha1:fecha2]
encuesta_filtrada

                          clo    e  met  voto
ts
2024-10-30 10:02:58.127  0.97  0.7  1.0  -0.4
2024-10-30 10:03:42.595  0.60  0.7  1.1  -1.0
2024-10-30 10:03:55.674  0.63  0.7  1.0   1.2
2024-10-30 10:04:18.802  0.68  0.7  1.0   0.0
2024-10-30 10:04:31.881  0.94  0.7  1.0   0.0
2024-10-30 10:04:51.519  0.74  0.7  1.0   0.4
2024-10-30 10:04:54.124  0.61  0.8  1.0   1.0
2024-10-30 10:05:06.197  0.64  0.7  1.0  -1.0
2024-10-30 10:05:06.484  0.86  0.7  1.0   0.4
2024-10-30 10:05:36.944  0.92  0.8  1.0   0.0

In [9]:
fecha1 = parse("30/10/2024 09:58", dayfirst=True)
fecha2 = parse("30/10/2024 10:06", dayfirst=True)

# Filtra el DataFrame por rango de fechas
EST_filtrada = EST.loc[fecha1:fecha2]
# Verificar si el valor de la primera fila en 'Humedad' supera en 10 o mÃ¡s al de la segunda fila
if (EST_filtrada['Humedad'].iloc[0] - EST_filtrada['Humedad'].iloc[1]) >= 10:
    # Eliminar la primera fila
    EST_filtrada = EST_filtrada.iloc[1:]
EST_filtrada

                     Temperatura    Humedad    Presion
ts
2024-10-30 09:59:00    23.032315  57.439850  880.64920
2024-10-30 10:00:00    23.101330  55.903335  880.64715
2024-10-30 10:01:00    23.149760  55.718640  880.61450
2024-10-30 10:02:00    23.244415  55.690365  880.61060
2024-10-30 10:03:00    23.337800  55.736610  880.62070
2024-10-30 10:04:00    23.429610  55.274910  880.62845
2024-10-30 10:05:00    23.542310  55.152370  880.60385
2024-10-30 10:06:00    23.686985  54.976240  880.60355

In [10]:
#Los siguinetes datos se obtuvieron de la bitacora disponible enhttps://docs.google.com/spreadsheets/d/1v0czXWAdiXbTbhDgoQyvoqtUhc28TKWD0oBYpIpPjzU/edit?gid=0#gid=0

datos = [
    ("30/10/2024", "10:01", "10:06"),
    ("31/10/2024", "9:54", "10:02"),
    ("31/10/2024", "12:00", "12:04"),
    ("04/11/2024", "12:10", "12:19"),
    ("05/11/2024", "16:31", "16:41"),
    ("06/11/2024", "10:02", "10:10"),
    ("06/11/2024", "14:19", "14:35"),
    ("12/11/2024", "14:24", "14:43"),
    ("13/11/2024", "9:58", "10:14"),
    ("13/11/2024", "10:17", "10:24"),
    ("14/11/2024", "11:57", "12:06"),
    ("14/11/2024", "12:14", "12:23"),
    ("20/11/2024", "9:56", "10:02"),
    ("20/11/2024", "10:13", "10:18"),
]

# Crear las listas
fecha1_encuesta = [parse(f"{fila[0]} {fila[1]}", dayfirst=True) for fila in datos]
fecha2_encuesta = [parse(f"{fila[0]} {fila[2]}", dayfirst=True) for fila in datos]

# Mostrar los resultados
fecha1_encuesta

[datetime.datetime(2024, 10, 30, 10, 1),
 datetime.datetime(2024, 10, 31, 9, 54),
 datetime.datetime(2024, 10, 31, 12, 0),
 datetime.datetime(2024, 11, 4, 12, 10),
 datetime.datetime(2024, 11, 5, 16, 31),
 datetime.datetime(2024, 11, 6, 10, 2),
 datetime.datetime(2024, 11, 6, 14, 19),
 datetime.datetime(2024, 11, 12, 14, 24),
 datetime.datetime(2024, 11, 13, 9, 58),
 datetime.datetime(2024, 11, 13, 10, 17),
 datetime.datetime(2024, 11, 14, 11, 57),
 datetime.datetime(2024, 11, 14, 12, 14),
 datetime.datetime(2024, 11, 20, 9, 56),
 datetime.datetime(2024, 11, 20, 10, 13)]

In [11]:
datos = [
    ("30/10/2024", "10:01", "10:06"),
    ("31/10/2024", "9:54", "10:02"),
    ("31/10/2024", "12:00", "12:04"),
    ("04/11/2024", "12:10", "12:19"),
    ("05/11/2024", "16:31", "16:41"),
    ("06/11/2024", "10:02", "10:10"),
    ("06/11/2024", "14:19", "14:35"),
    ("12/11/2024", "14:24", "14:43"),
    ("13/11/2024", "12:28", "12:36"),
    ("13/11/2024", "12:36", "12:45"),
    ("14/11/2024", "11:57", "12:06"),
    ("14/11/2024", "12:14", "12:23"),
    ("20/11/2024", "9:56", "10:02"),
    ("20/11/2024", "10:13", "10:18"),
]

# Crear las listas
fecha1_EST = [parse(f"{fila[0]} {fila[1]}", dayfirst=True) for fila in datos]
fecha2_EST = [parse(f"{fila[0]} {fila[2]}", dayfirst=True) for fila in datos]

# Mostrar los resultados
fecha2_EST[0]

datetime.datetime(2024, 10, 30, 10, 6)

In [12]:
def filtro_EST(fecha1,fecha2):
    
    # Filtra el DataFrame por rango de fechas
    EST_filtrada = EST.loc[fecha1:fecha2]
    # Verificar si el valor de la primera fila en 'Humedad' supera en 10 o mÃ¡s al de la segunda fila
    if (EST_filtrada['Humedad'].iloc[0] - EST_filtrada['Humedad'].iloc[1]) >= 10:
        # Eliminar la primera fila
        EST_filtrada = EST_filtrada.iloc[1:]
    EST_filtrada = EST_filtrada.resample("D").mean()
    
    # Renombrar las columnas
    EST_filtrada = EST_filtrada.rename(columns={
        'Temperatura': 'Temperatura_prom',
        'Humedad': 'Humedad_prom',
        'Presion': 'Presion_prom'
        })
    return EST_filtrada.reset_index(drop=True)

In [13]:
prubea = filtro_EST(fecha1_EST[1],fecha2_EST[1])
prubea

   Temperatura_prom  Humedad_prom  Presion_prom
0         24.935109     56.619713      879.3606

In [14]:
resultados_EST = []
for f1, f2 in zip(fecha1_EST, fecha2_EST):
    df_filtrado = filtro_EST(f1, f2)
    resultados_EST.append(df_filtrado)

# Concatenar todos los DataFrames en uno solo
EST_concatenado = pd.concat(resultados_EST, ignore_index=True)
EST_concatenado

    Temperatura_prom  Humedad_prom  Presion_prom
0          23.398480     55.424856    880.613608
1          24.935109     56.619713    879.360600
2          26.396106     54.984930    877.875513
3          27.019779     52.027792    876.124790
4          28.859407     41.491528    871.801109
5          25.477622     52.071784    877.485744
6          30.041960     44.217661    874.406800
7          27.487724     29.273797    863.347144
8          25.721628     40.858097    876.583275
9          25.801619     40.435614    876.458078
10         24.704352     35.209103    878.319683
11         25.359074     31.426964    878.030150
12         25.305220     53.420015    880.883658
13         24.975535     57.582175    855.392125

In [15]:
def filtro_encuesta(fecha1,fecha2):
    
    # Filtra el DataFrame por rango de fechas
    encuesta_filtrada = encuesta.loc[fecha1:fecha2]
    
    return encuesta_filtrada

In [16]:
prubea2 = filtro_encuesta(fecha1_encuesta[-1],fecha2_encuesta[-1])
prubea2

                          clo    e  met  voto
ts
2024-11-20 10:14:40.338  0.80  0.7  1.0   0.4
2024-11-20 10:14:40.970  0.94  0.7  1.1   0.0
2024-11-20 10:14:46.079  0.51  0.7  1.1   0.0
2024-11-20 10:14:51.958  0.59  0.7  1.0  -0.2
2024-11-20 10:15:17.552  0.33  0.7  1.1   0.4
2024-11-20 10:15:58.380  0.95  0.7  1.0  -1.0
2024-11-20 10:16:11.961  0.53  0.7  1.0   1.0
2024-11-20 10:16:12.396  0.74  0.7  1.0  -0.8
2024-11-20 10:16:24.922  0.50  0.7  1.0  -1.2
2024-11-20 10:16:33.507  0.75  0.7  1.0   0.0
2024-11-20 10:16:38.153  0.68  0.7  1.1   0.0
2024-11-20 10:16:49.015  0.58  0.7  1.1   0.6
2024-11-20 10:17:30.039  0.47  0.7  2.6   2.0

In [17]:
resultados_encuesta = []
for f1, f2 in zip(fecha1_encuesta, fecha2_encuesta):
    df_filtrado = filtro_encuesta(f1, f2)
    resultados_encuesta.append(df_filtrado)

# Concatenar todos los DataFrames en uno solo
encuesta_concatenada = pd.concat(resultados_encuesta)
encuesta_concatenada.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 124 entries, 2024-10-30 10:02:58.127000 to 2024-11-20 10:17:30.039000
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   clo     124 non-null    float64
 1   e       124 non-null    float64
 2   met     124 non-null    float64
 3   voto    124 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [18]:
num_encuestados=[]
for df in resultados_encuesta:
    num_encuestados.append(df.shape[0])
num_encuestados

[10, 11, 3, 7, 4, 8, 11, 10, 9, 15, 6, 7, 10, 13]

In [19]:
# Lista con el nÃºmero de repeticiones
repeticiones = [10, 11, 3, 7, 4, 8, 11, 10, 9, 15, 6, 7, 10, 13]

# Verificar que el nÃºmero de filas en el DataFrame coincida con la longitud de la lista
if len(EST_concatenado) != len(repeticiones):
    raise ValueError("El nÃºmero de filas en el DataFrame no coincide con la longitud de la lista de repeticiones.")

# Crear una lista para almacenar los DataFrames repetidos
filas_repetidas = []

# Iterar por las filas y el nÃºmero de repeticiones
for i, n_reps in enumerate(repeticiones):
    fila_repetida = pd.DataFrame([EST_concatenado.iloc[i].values] * n_reps, columns=EST_concatenado.columns)
    filas_repetidas.append(fila_repetida)

# Concatenar todas las filas repetidas en un solo DataFrame
repetido = pd.concat(filas_repetidas, ignore_index=True)

repetido

     Temperatura_prom  Humedad_prom  Presion_prom
0           23.398480     55.424856    880.613608
1           23.398480     55.424856    880.613608
2           23.398480     55.424856    880.613608
3           23.398480     55.424856    880.613608
4           23.398480     55.424856    880.613608
..                ...           ...           ...
119         24.975535     57.582175    855.392125
120         24.975535     57.582175    855.392125
121         24.975535     57.582175    855.392125
122         24.975535     57.582175    855.392125
123         24.975535     57.582175    855.392125

[124 rows x 3 columns]

In [20]:
repetido.index = encuesta_concatenada.index
df_combinado = pd.concat([encuesta_concatenada, repetido], axis=1)

# Conservar el Ã­ndice de 'encuesta_concatenada'
df_combinado.index = encuesta_concatenada.index
df_combinado

,clo,e,met,voto,Temperatura_prom,Humedad_prom,Presion_prom
ts,,,,,,,
2024-10-30 10:02:58.127,0.97,0.7,1.0,-0.4,23.398480,55.424856,880.613608
2024-10-30 10:03:42.595,0.60,0.7,1.1,-1.0,23.398480,55.424856,880.613608
2024-10-30 10:03:55.674,0.63,0.7,1.0,1.2,23.398480,55.424856,880.613608
2024-10-30 10:04:18.802,0.68,0.7,1.0,0.0,23.398480,55.424856,880.613608
2024-10-30 10:04:31.881,0.94,0.7,1.0,0.0,23.398480,55.424856,880.613608
...,...,...,...,...,...,...,...
2024-11-20 10:16:24.922,0.50,0.7,1.0,-1.2,24.975535,57.582175,855.392125
2024-11-20 10:16:33.507,0.75,0.7,1.0,0.0,24.975535,57.582175,855.392125
2024-11-20 10:16:38.153,0.68,0.7,1.1,0.0,24.975535,57.582175,855.392125
2024-11-20 10:16:49.015,0.58,0.7,1.1,0.6,24.975535,57.582175,855.392125
2024-11-20 10:17:30.039,0.47,0.7,2.6,2.0,24.975535,57.582175,855.392125

In [21]:
df_combinado.to_csv("datos_encuesta_EST.csv", index=True)